.home-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.7em;
    margin: 2rem 10rem;
    border: 1px solid blue;
    height: fit-content;
    width: 80rem;
    padding: 2em;
    border-radius: 1em;
    align-items: center;
    justify-content: left;
    .card {
        height: 20rem;
        width: 12rem !important;
        background-color: antiquewhite;
        border-radius: 0.8em;
    }
    // .home-content-card {
    //     width: 18rem;
    // }
}
