.admin-create-product {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 1rem;
    margin-left: 1rem;
}
.admin-table-products {
    margin: 1rem auto;
    th {
        text-align: center;
    }
    .rounded {
        height: 8rem;
        width: 5rem;
        object-fit: cover;
    }
    .admin-active {
        text-align: center;
        .admin-active-delete {
            margin-left: 1rem;
            color: red;
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
        }
        .admin-active-edit {
            color: rgb(156, 156, 81);
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}
