.bg-light {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    .navbar-content-top {
        width: 100%;
        display: flex;
        margin-top: 1rem;
        .navbar-brand {
            margin-left: 2rem;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .navbar-collapse {
            justify-content: center;
            @media (max-width: 992px) {
                display: flex;
            }
            .navbar-nav {
                gap: 1rem;
                @media (max-width: 992px) {
                    display: flex;
                    flex-direction: row;
                }
                .nav-item {
                    .nav-link {
                        padding: 0;

                        svg {
                            height: 1.5rem;
                            width: 1.5rem;
                            margin-bottom: 0.3rem;
                        }
                    }
                }
                #nav-link-login {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }
            .navbar-seacrh {
                display: flex;
                line-height: 28px;
                align-items: center;
                position: relative;
                width: 40vw;
                // max-width: 40vw;
                margin-left: auto;
                @media (max-width: 992px) {
                    margin-left: 0;
                }
                @media (max-width: 576px) {
                    width: 100%;
                    margin-left: 1rem;
                }

                .input {
                    width: 100%;
                    height: 40px;
                    line-height: 28px;
                    padding: 0 1rem;
                    padding-left: 2.5rem;
                    border: 2px solid transparent;
                    border-radius: 8px;
                    outline: none;
                    background-color: #f3f3f4;
                    color: #0d0c22;
                    transition: 0.3s ease;

                    &::placeholder {
                        color: #9e9ea7;
                    }

                    &:focus,
                    &:hover {
                        outline: none;
                        border-color: rgba(234, 76, 137, 0.4);
                        background-color: #fff;
                        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
                    }
                }
                .icon {
                    position: absolute;
                    left: 1rem;
                    margin-bottom: 0.7rem;
                    fill: #9e9ea7;
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .my-lg-0 {
                    display: flex;
                }
            }
        }
        #navbar-top-right {
            margin-right: 2rem;
            justify-content: end;
            @media (max-width: 992px) {
                flex: 0 0 auto !important;
            }
            @media (max-width: 768px) {
                width: 40%;
            }
            @media (max-width: 576px) {
                width: 25%;
                margin-right: 1rem;
            }
        }
        #navbarSupportedContent {
            @media (max-width: 992px) {
                // margin-left: 2rem;
                justify-content: center;
            }
            @media (max-width: 768px) {
                width: 60%;
            }
            @media (max-width: 576px) {
                width: 75%;
            }
        }
    }
    .navbar-content-bottom {
        display: flex;
        .navbar-nav {
            justify-content: space-around;
            width: 85vw;
            margin-top: 1rem;
            .nav-item {
                display: flex;
                .nav-link {
                    svg {
                        height: 1.5rem;
                        width: 1.5rem;
                        margin-bottom: 0.3rem;
                        margin-right: 0.1rem;
                    }
                    &:hover {
                        background-color: rgb(161, 210, 252);
                        border-radius: 1rem;
                    }
                }
                span {
                    height: 1.3rem;
                    width: 1.3rem;
                    margin-top: 0.3rem;
                }
            }
        }
    }
}
img {
    height: fit-content;
    width: fit-content;
}
#nav-dropdown-dark-example {
    padding-left: 0;
}
